.book {
    
    .view-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
    }

    .control-button {
        @include h2;
        color: $black;
        cursor: pointer;
        border-bottom: 2px solid $black;
        flex-grow: 1;
        &.active {
            border-color: $dates;
        }
    }

    .timeline-container {
        padding:20px;
    }

    .chapters-container {
        padding: 20px;
        overflow-y: scroll;
    }

    .chapter {
        display: flex;
        flex-direction: row;
        text-align: left;
        width: 100%;
        margin: 30px 0px;
    }

    .chapter-events {
        display: flex;
        flex-direction: row;
    }

    .chapter-details {
        margin-right: 20px;
        padding-top: 20px;
        flex-basis: 300px;
        flex-shrink: 0;
        flex-grow: 0;
        text-align: right;
    }

    .chapter-title {
        @include h2;
    }

    .chapter-description {
        @include h4;
        color: $characters;
    }

    .chapter-events {
        flex-grow: 1;
        overflow-x: scroll;
        > *:not(:last-child) {
            margin-right: 20px;
        }
    }
    
}