.book {
    .chapter {
        display: flex;
        flex-direction: row;
        text-align: left;
        width: 60%;
        margin: auto;
        &:first-child {
            .chapter-events {
                border-top-right-radius: 12px;
            }
        }
        &:last-child {
            .chapter-events {
                border-bottom-right-radius: 12px;
            }
        }
        &:not(:first-child){
            .chapter-events {
                border-top: 1px dashed $dark;
            }
        }
    }

    .chapter-details {
        padding : 20px;
        width: 35%;
        border-right: 4px solid $dark;
        text-align: right;
    }

    .chapter-title {
        @include h2;
    }

    .chapter-description {
        @include subtitle;
        color: $black;
    }

    .chapter-events {
        padding: 30px 20px;
        background-color: $beige;
        width: 65%;
        min-height: 150px;
    }
    
}