.characters {
    .characters-page-container {
        display: flex;
        flex-direction: row;
        max-height: 100%;
        overflow-y: scroll;
    }

    .characters-list-container {
        flex-basis: 20%;
        .characters-list {
            background-color: $beige;
            border-radius: 12px;
            margin-left: 30px;
            padding: 20px;
        }

    }

    .characters-relations-container {
        flex-basis: 80%;
    }

    .characters-page-title {
        @include h2;
        color: $dark;
        padding-bottom: 20px;
    }

    .characters-relations {
        min-width: 700px;
        max-width: 1000px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .characters-list-item {
        padding-top: 10px;
        a {
            color: $dark;
        }
    }
}

// graph

.edge-text {
    font-size: 8px;
    display: none;
}

.node-text {
    font-size: 12px;
}

.links { 
    g:hover {
        .edge-text {
            display: block;
        }
        .edge {
            stroke: $grey;
        }
    }
}