.characters {

    .view-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
    }

    .control-button {
        @include h2;
        color: $black;
        cursor: pointer;
        border-bottom: 2px solid $black;
        flex-grow: 1;
        &.active {
            border-color: $characters;
        }
    }

    .characters-list {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        > * {
            margin: 10px 20px;
        }
    }


    .characters-relations-container {
        margin: 20px;
        background-color: $white;
        border: $black 2px solid;
        border-radius: 8px;
        overflow-y: auto;
    }

    .characters-page-title {
        @include h2;
        color: $black;
    }

    .characters-relations {
        min-width: 700px;
        max-width: 1000px;
        margin: auto;
    }

    .characters-list-item {
        padding-top: 10px;
        a {
            color: $black;
        }
    }
}

// graph

.edge-text {
    font-size: 8px;
    display: none;
}

.node-text {
    font-size: 12px;
    &:hover {
        text-decoration: underline;   
    }
}

.links { 
    g:hover {
        .edge-text {
            display: block;
        }
        .edge {
            stroke: $black;
        }
    }
}