@font-face {
    font-family: 'jost';
    src: url('fonts/jost-variable.ttf');
    //src: url('fonts/jost-italic-variable.ttf');
}

@mixin h0 {
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
}

@mixin h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
}

@mixin h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
}

@mixin h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
}

@mixin h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
}

@mixin subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
}

@mixin text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

@mixin smalltext {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
