@font-face {
    font-family: 'palatino';
    src: url('fonts/palatino-font.ttf');
}

@mixin h0 {
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
}

@mixin h1 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
}

@mixin h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

@mixin h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

@mixin subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
}

@mixin text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

@mixin smalltext {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
