.home {
    align-items: center;
    justify-content: space-between;
    .page-title {
        @include h0;
    }

    .author {
        @include author;
        text-transform: uppercase;
        color: $eerie-black;
        padding: 40px;
    }

    .home-page-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .home-page-main-button {
        @include navitem($eerie-black);
        margin: 80px 0px;
    }

    .open-book {
        margin-bottom: 100px;
        height: 300px;
    }

}