.home {
    padding-top: 150px;
    .page-title {
        @include h0;
    }

    .author {
        @include h2;
        font-style: italic;
        color: $characters;
        margin-bottom: 30px;
    }

    .project-description-container {
       display: flex;
       justify-content: center;
       margin-bottom: 50px;
    }
    .project-description {
        min-width: 400px;
        width: 40%;
    }

    .home-page-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .home-page-main-button {
        padding: 30px;
        background-color: $black;
        margin: 10px;
        width: 200px;
        border-radius: 12px;

        @include h2;
        
        a {
            color: $background;
        }
    }

}