@font-face {
    font-family: 'jost';
    src: url('fonts/jost-variable.ttf');
}

@font-face {
    font-family: 'jost-italic';
    src: url('fonts/jost-italic-variable.ttf');
}

@mixin h0 {
    font-family: 'jost-italic';
    font-size: 230px;
    line-height: 250px;
    font-variation-settings: 'wght' 400;
    letter-spacing: 10px;
}

@mixin h1 {
    font-family: 'jost-italic';
    font-size: 100px;
    line-height: 120px;
    font-variation-settings: 'wght' 400;
}

@mixin h2 {
    font-family: 'jost';
    font-size: 30px;
    line-height: 35px;
    font-variation-settings: 'wght' 500;
    letter-spacing: 1px;
}

@mixin h3 {
    font-family: 'jost';
    font-size: 20px;
    line-height: 25px;
    font-variation-settings: 'wght' 300;
    letter-spacing: -0.5px;
}

@mixin h4 {
    font-family: 'jost-italic';
    font-size: 20px;
    line-height: 25px;
    font-variation-settings: 'wght' 400;
}

@mixin subtitle {
    font-family: 'jost';
    font-size: 14px;
    line-height: 22px;
    font-variation-settings: 'wght' 400;
    font-style: italic;
}

@mixin text {
    font-family: 'jost';
    font-size: 16px;
    line-height: 20px;
    font-variation-settings: 'wght' 300;
}

@mixin smalltext {
    font-family: 'jost';
    font-size: 12px;
    line-height: 18px;
    font-variation-settings: 'wght' 400;
}

@mixin author {
    font-family: 'jost';
    font-size: 30px;
    line-height: 40px;
    font-variation-settings: 'wght' 600;
}

@mixin quote {
    font-family: 'jost';
    font-size: 80px;
    line-height: 85px;
    font-variation-settings: 'wght' 500;
    letter-spacing: -3px;
}