

// Palette

// $black: #000000;
$eerie-black: #1c1c1c;
$bunker: #2c2c2c;
$jumbo: #868686;
$magnesium: #b1b1b1;
$alto: #dadada;
$lily-white: #ebebeb;
$white: #ffffff;


// Colors

$white: white;
$black: black;

$background: $lily-white; // #f6f6f6;
$characters: $eerie-black; // #a08638;
$events: $bunker; // #774640;
$dates: $magnesium; // #FFC323;

$beige: $alto; // #dfc6ac;
$darK: $eerie-black; // darkgrey;