// styling for common components

.event-view {
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    padding: 15px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    text-align: center;
    z-index: 1;

    .event-title {
        @include h3;
        text-transform: uppercase;
        height: 50px;
    }

    .event-date {
        @include subtitle;
        color: $jumbo;
        padding: 10px 0px;
    }

    .event-description {
        @include text;
        text-align: justify;
    }
    
    .event-characters {
        height: 60px;
        color: $magnesium;
        @include smalltext;
    }

    .characte-link-view {
        color: $magnesium;
    }
}

.character-view {
    min-width: 200px;
    max-width: 200px;
    height: 200px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;

    z-index: 1;

    .character-name {
        .characte-link-view {
            @include h3;
            text-transform: uppercase;
        }
    }

    @include navitem ($eerie-black);

    .character-dates {
        @include subtitle;
        color: $magnesium;
        margin-bottom: 20px;
    }

    .character-description {
        margin-bottom: 20px;
    }
    
    .character-chapter {
        height: 40px;
        margin: -20px;
        padding: 20px;
        border-top: $black solid 2px;
    }
}

.timeline-view {

    display: flex;
    flex-direction: row;
    position: relative;
    height: 680px;

    .timeline-event-line {
        position: absolute;
        z-index: 0;
        height: 54px;
    }

    .timeline-main-line {
        position: absolute;
        top: calc(50% - 2px);
        width: 350px;
        z-index: 0;
    }

    .timeline-event-horizontal-line {
        position: absolute;
        z-index: 0;
        width: 280px;
    }

    .character-view {
        margin-right: 50px;
        align-self: center;
    }

    .timeline-view-event {
        position: relative;
        flex-shrink: 0;
        height: 402px;
        display: flex;
        margin-right: -83px;

        &:nth-child(even) {
            align-self: flex-start;
            
            .timeline-event-line {
                bottom: 2px;
                left: 50%;
            }
            .timeline-event-horizontal-line {
                bottom: 2px;
            }
        }

        &:nth-child(odd) {
            align-self: flex-end;
            
            .event-view {
                align-self: flex-end;
            }
            
            .timeline-event-line {
                top: 2px;
                left: 50%;
            }
            .timeline-event-horizontal-line {
                top: 0px;
            }
        }

        &:last-child {
            padding-right: 100px;
        }
    }
    
}