// styling for common components

.event-view {
    min-width: 220px;
    max-width: 220px;
    height: 250px;
    padding: 15px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    text-align: center;
    z-index: 1;

    .event-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .event-title {
        @include h3;
        text-transform: uppercase;
        height: 50px;
    }

    .event-date {
        @include subtitle;
        color: $jumbo;
        padding-bottom: 10px;
    }

    .event-description {
        @include text;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    
    .event-characters {
        height: 80px;
        display: flex;
        align-items: flex-end;
        color: $magnesium;
        @include smalltext;
        text-align: justify;
    }

    .character-link-view {
        color: $magnesium;
    }
}

.character-view {
    min-width: 200px;
    max-width: 200px;
    height: 200px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;

    z-index: 1;

    .character-name {
        .characte-link-view {
            @include h3;
            text-transform: uppercase;
        }
    }

    @include navitem ($eerie-black);

    .character-dates {
        @include subtitle;
        color: $magnesium;
        margin-bottom: 20px;
    }

    .character-description {
        margin-bottom: 20px;
    }
    
    .character-chapter {
        height: 40px;
        margin: -20px;
        padding: 20px;
        border-top: $black solid 2px;
    }
}

.timeline-view {

    display: flex;
    flex-direction: row;
    height: 420px;

    .timeline-arrow {
        position: absolute;
        width: 150px;
        z-index: 2;
        right: -150px;
    }

    .character-view {
        margin-right: 50px;
        align-self: center;
    }

    .timeline-view-event {
        position: relative;
        display: flex;
        margin-right: 30px;

        &:nth-child(odd) {
            align-self: flex-start;

            .timeline-arrow {
                top:74px;
            }
        }

        &:nth-child(even) {
            align-self: flex-end;
            
            .timeline-arrow {
                transform: scaleY(-1);
                bottom: 74px;
            }
        }

        &:last-child {
            padding-right: 300px;
            .timeline-arrow {
                display: none;
            }
        }
    }
    
}