// styling for common components

.event-view {
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    border-radius: 8px;
    border: $black solid 2px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    text-align: center;

    z-index: 1;

    .event-title {
        color: $events;
        @include h3;
        font-weight: 700;
    }

    .event-date {
        @include subtitle;
        color: $dates;
        margin-bottom: 20px;
    }

    .event-description {
        margin-bottom: 20px;
    }
    
    .event-characters {
        height: 55px;
        margin: -20px;
        padding: 20px;
        border-top: $black solid 2px;
        @include smalltext;
        // background-color: $white;
    }

    .characte-link-view {
        color: $characters;
    }
}

.character-view {
    min-width: 250px;
    max-width: 250px;
    height: 200px;
    border-radius: 8px;
    border: $black solid 2px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;

    z-index: 1;

    .character-name {
        .characte-link-view {
            color: $characters;
            @include h3;
            font-weight: 700;
        }
    }

    .character-dates {
        @include subtitle;
        color: $dates;
        margin-bottom: 20px;
    }

    .character-description {
        margin-bottom: 20px;
    }
    
    .character-chapter {
        height: 40px;
        margin: -20px;
        padding: 20px;
        border-top: $black solid 2px;
    }
}

.timeline-view {

    display: flex;
    flex-direction: row;
    position: relative;
    height: 800px;
    padding: 20px 50px;

    .timeline-event-line {
        position: absolute;
        border: $dates 1px solid;
        z-index: 0;
        height: 54px;
    }

    .timeline-main-line {
        position: absolute;
        top: 50%;
        border: $dates 1px solid;
        width: 100%;
        z-index: 0;
        padding-right: 350px;
    }

    .character-view {
        margin-right: 50px;
        align-self: center;
    }

    .timeline-view-event {
        position: relative;
        flex-shrink: 0;
        height: 400px;
        display: flex;
        margin-right: -83px;

        &:nth-child(even) {
            align-self: flex-start;
            
            .timeline-event-line {
                bottom: 0px;
                left: 50%;
            }
        }

        &:nth-child(odd) {
            align-self: flex-end;
            
            .event-view {
                align-self: flex-end;
            }
            
            .timeline-event-line {
                top: 0px;
                left: 50%;
            }
        }

        &:last-child {
            margin-right: 50px;
        }
    }
    
}