body {
  margin: 0;
  color: #293c4b; }

h1 {
  font-size: 30px; }

img {
  margin: 20px 0;
  max-width: 200px; }

.corato-page {
  height: 100%;
  width: 100%;
  text-align: center; }

.page-top-banner {
  text-align: center;
  padding: 10px; }
  .page-top-banner .simple-nav {
    position: absolute;
    top: 0px;
    left: 0px; }

.page-title {
  font-size: 20px;
  font-weight: 600; }

.simple-nav {
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly; }
