
@import 'variables';
@import 'typography';

body {
    font-family: jost;
    margin: 0;
    height: 100vh;
  }
  
h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}


.corato-page {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $background;
  color: $black;
  @include text;
  display: flex;
  flex-direction: column;
}

.simple-nav {
  position: absolute;
  top: 0px;
  left: 0px;
}

.page-top-banner {
  padding: 30px;
  flex-shrink: 0;
  flex-grow: 0;
}

.page-title {
  @include h1;
  text-align: center;

}

.simple-nav {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  a {
    color: $black;
    padding: 10px;
  }
}

/* hide scrollbar but allow scrolling */
* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


@import 'view';
@import 'home';
@import 'book';
@import 'characters';
@import 'character';