@font-face {
  font-family: 'jost';
  src: url("fonts/jost-variable.ttf"); }

body {
  font-family: jost;
  margin: 0;
  height: 100vh; }

h1 {
  font-size: 30px; }

img {
  margin: 20px 0;
  max-width: 200px; }

.corato-page {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: column; }

.simple-nav {
  position: absolute;
  top: 0px;
  left: 0px; }

.page-top-banner {
  padding: 30px;
  flex-shrink: 0;
  flex-grow: 0; }

.page-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-align: center; }

.simple-nav {
  padding: 10px;
  display: flex;
  justify-content: space-evenly; }
  .simple-nav a {
    color: #1e1e1e;
    padding: 10px; }

/* hide scrollbar but allow scrolling */
* {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll; }

*::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */ }

.event-view {
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  border-radius: 8px;
  border: #1e1e1e solid 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  z-index: 1; }
  .event-view .event-title {
    color: #774640;
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
    font-weight: 700; }
  .event-view .event-date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
    color: #FFC323;
    margin-bottom: 20px; }
  .event-view .event-description {
    margin-bottom: 20px; }
  .event-view .event-characters {
    height: 55px;
    margin: -20px;
    padding: 20px;
    border-top: #1e1e1e solid 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; }
  .event-view .characte-link-view {
    color: #a08638; }

.character-view {
  min-width: 250px;
  max-width: 250px;
  height: 200px;
  border-radius: 8px;
  border: #1e1e1e solid 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  z-index: 1; }
  .character-view .character-name .characte-link-view {
    color: #a08638;
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
    font-weight: 700; }
  .character-view .character-dates {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
    color: #FFC323;
    margin-bottom: 20px; }
  .character-view .character-description {
    margin-bottom: 20px; }
  .character-view .character-chapter {
    height: 40px;
    margin: -20px;
    padding: 20px;
    border-top: #1e1e1e solid 2px; }

.timeline-view {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 800px;
  padding: 20px 50px; }
  .timeline-view .timeline-event-line {
    position: absolute;
    border: #FFC323 1px solid;
    z-index: 0;
    height: 54px; }
  .timeline-view .timeline-main-line {
    position: absolute;
    top: calc(50% - 2px);
    border: #FFC323 1px solid;
    width: 350px;
    z-index: 0; }
  .timeline-view .timeline-event-horizontal-line {
    position: absolute;
    border: #FFC323 1px solid;
    z-index: 0;
    width: 280px; }
  .timeline-view .character-view {
    margin-right: 50px;
    align-self: center; }
  .timeline-view .timeline-view-event {
    position: relative;
    flex-shrink: 0;
    height: 402px;
    display: flex;
    margin-right: -83px; }
    .timeline-view .timeline-view-event:nth-child(even) {
      align-self: flex-start; }
      .timeline-view .timeline-view-event:nth-child(even) .timeline-event-line {
        bottom: 2px;
        left: 50%; }
      .timeline-view .timeline-view-event:nth-child(even) .timeline-event-horizontal-line {
        bottom: 2px; }
    .timeline-view .timeline-view-event:nth-child(odd) {
      align-self: flex-end; }
      .timeline-view .timeline-view-event:nth-child(odd) .event-view {
        align-self: flex-end; }
      .timeline-view .timeline-view-event:nth-child(odd) .timeline-event-line {
        top: 2px;
        left: 50%; }
      .timeline-view .timeline-view-event:nth-child(odd) .timeline-event-horizontal-line {
        top: 0px; }
    .timeline-view .timeline-view-event:last-child {
      margin-right: 50px; }

.home {
  padding-top: 150px; }
  .home .page-title {
    font-size: 100px;
    line-height: 100px;
    font-weight: 900; }
  .home .author {
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
    font-style: italic;
    color: #a08638;
    margin-bottom: 30px; }
  .home .project-description-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .home .project-description {
    min-width: 400px;
    width: 40%; }
  .home .home-page-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; }
  .home .home-page-main-button {
    padding: 30px;
    background-color: #1e1e1e;
    margin: 10px;
    width: 200px;
    border-radius: 12px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 800; }
    .home .home-page-main-button a {
      color: #f6f6f6; }

.book .view-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0; }

.book .control-button {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  color: #1e1e1e;
  cursor: pointer;
  border-bottom: 2px solid #1e1e1e;
  flex-grow: 1; }
  .book .control-button.active {
    border-color: #FFC323; }

.book .timeline-container {
  padding: 20px; }

.book .chapters-container {
  padding: 20px;
  overflow-y: scroll; }

.book .chapter {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  margin: 30px 0px; }

.book .chapter-events {
  display: flex;
  flex-direction: row; }

.book .chapter-details {
  margin-right: 20px;
  padding-top: 20px;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: right; }

.book .chapter-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800; }

.book .chapter-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-style: italic;
  color: #a08638; }

.book .chapter-events {
  flex-grow: 1;
  overflow-x: scroll; }
  .book .chapter-events > *:not(:last-child) {
    margin-right: 20px; }

.characters .view-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0; }

.characters .control-button {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  color: #1e1e1e;
  cursor: pointer;
  border-bottom: 2px solid #1e1e1e;
  flex-grow: 1; }
  .characters .control-button.active {
    border-color: #a08638; }

.characters .characters-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }
  .characters .characters-list > * {
    margin: 10px 20px; }

.characters .characters-relations-container {
  margin: 20px;
  background-color: white;
  border: #1e1e1e 2px solid;
  border-radius: 8px;
  overflow-y: auto; }

.characters .characters-page-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  color: #1e1e1e; }

.characters .characters-relations {
  min-width: 700px;
  max-width: 1000px;
  margin: auto; }

.characters .characters-list-item {
  padding-top: 10px; }
  .characters .characters-list-item a {
    color: #1e1e1e; }

.edge-text {
  font-size: 8px;
  display: none; }

.node-text {
  font-size: 12px; }
  .node-text:hover {
    text-decoration: underline; }

.links g:hover .edge-text {
  display: block; }

.links g:hover .edge {
  stroke: #1e1e1e; }

.character {
  text-align: left; }
