
@import 'colors';
@import 'fonts';

body {
    // font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    font-family: palatino;
    margin: 0;
    height: 100vh;
  }
  
h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}


.corato-page {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $cream;
  color: $black;
  @include text;
}

.page-top-banner {
  text-align: center;
  padding: 10px;

  .simple-nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.page-title {
  @include h1;

}

.simple-nav {
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

@import 'home';
@import 'book';
@import 'characters';