
@import 'variables';
@import 'typography';

body {
    font-family: jost;
    margin: 0;
    height: 100vh;
  }
  
h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}


.corato-page {
  @include text;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: $lily-white;
  color: $eerie-black;
}

.page-top-banner {
  padding: 30px;
  flex-shrink: 0;
  flex-grow: 0;
}

.page-title {
  @include h1;
  text-align: center;

}

@mixin navitem {
  @include text;
  a {
      position: relative;
      color: $bunker;
      text-decoration: none;
  }

  a::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $eerie-black;
      transition: opacity 300ms, transform 500ms;
      opacity:1;
      transform: scale(0);
      transform-origin: center;
  }
  a:hover::after,
  a:focus::after {
      transform: scale(1);
  }
}

.simple-nav {
  margin: 30px;
  display: flex;
  justify-content: space-between;

  .simple-nav-item {
    @include navitem;

    &:nth-child(2) {
      @include author;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }

}

/* hide scrollbar but allow scrolling */
* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


@import 'view';
@import 'home';
@import 'book';
@import 'characters';
@import 'character';