@font-face {
  font-family: 'palatino';
  src: url("fonts/palatino-font.ttf"); }

body {
  font-family: palatino;
  margin: 0;
  height: 100vh; }

h1 {
  font-size: 30px; }

img {
  margin: 20px 0;
  max-width: 200px; }

.corato-page {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #F2E9E4;
  color: #22223B;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500; }

.page-top-banner {
  text-align: center;
  padding: 10px; }
  .page-top-banner .simple-nav {
    position: absolute;
    top: 0px;
    left: 0px; }

.page-title {
  font-size: 48px;
  line-height: 100px;
  font-weight: 900; }

.simple-nav {
  padding: 10px;
  display: flex;
  justify-content: space-evenly; }
  .simple-nav a {
    color: #4A4E69;
    padding: 10px; }

.home .project-description {
  min-width: 400px;
  width: 40%;
  margin: auto;
  margin-bottom: 50px; }

.home .home-page-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; }

.home .home-page-main-button {
  padding: 30px;
  background-color: #4A4E69;
  margin: 10px;
  width: 200px;
  border-radius: 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700; }
  .home .home-page-main-button a {
    color: #C9ADA7; }

.book .chapter {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 60%;
  margin: auto; }
  .book .chapter:first-child .chapter-events {
    border-top-right-radius: 12px; }
  .book .chapter:last-child .chapter-events {
    border-bottom-right-radius: 12px; }
  .book .chapter:not(:first-child) .chapter-events {
    border-top: 1px dashed #4A4E69; }

.book .chapter-details {
  padding: 20px;
  width: 35%;
  border-right: 4px solid #4A4E69;
  text-align: right; }

.book .chapter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700; }

.book .chapter-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: italic;
  color: #22223B; }

.book .chapter-events {
  padding: 30px 20px;
  background-color: #C9ADA7;
  width: 65%;
  min-height: 150px; }

.book .event-title {
  color: #4A4E69;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-weight: 700; }

.book .event-date {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: italic;
  color: #9A8C98;
  margin-bottom: 20px; }

.book .event-description {
  margin-bottom: 20px; }

.book .event-characters a {
  color: #22223B; }

.characters .characters-page-container {
  display: flex;
  flex-direction: row; }
  .characters .characters-page-container > * {
    flex-basis: 50%;
    padding: 20px; }

.characters .characters-page-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #4A4E69;
  padding-bottom: 20px; }

.characters .characters-relations {
  background-color: #C9ADA7;
  height: 300px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center; }

.characters .characters-list-item {
  padding-top: 10px; }
