
@mixin circle {
    position: relative;
    .circle-image {
        position: absolute;
        z-index: 3;
    }
    .circle-outline {
        position: relative;
        z-index: 4;
    }
}

.circle_small {
    @include circle;

    width: 350px;
    height: 350px;
    .circle-outline {
        width: 350px;
    }
    .circle-image {
        width: 185px;
        left: 85px;
        top: 85px;
    }
}

.circle_small.rotated {
    .circle-outline {
        transform: scaleX(-1) scaleY(-1) rotate(-45deg);
    }
    .circle-image {
        top: 60px;
        left: 70px;
    }
}


.circle_medium {
    @include circle;

    width: 400px;
    height: 400px;
    .circle-outline {
        width: 400px;
    }
    .circle-image {
        width: 265px;
        left: 50px;
        top: 70px;
    }
}

.circle_medium.rotated {
    .circle-outline {
        transform: scaleX(-1) scaleY(-1);
    }
    .circle-image {
        top: 70px;
        left: 90px;
    }
}

.circle_large {
    @include circle;

    width: 500px;
    height: 500px;
    .circle-outline {
        width: 500px;
    }
    .circle-image {
        width: 310px;
        left: 95px;
        top: 100px;
    }
}

.circle_large.rotated {
    .circle-outline {
        transform: scaleX(-1) scaleY(-1);
    }
    .circle-image {
        top: 90px;
        left: 100px;
    }
}

.no-pointer-events {
    pointer-events: none;
}