@forward "circle";
@use "elements";
@use "components";

.page.home {
    overflow-x: clip;

    .main-button {
        @include components.button;
    }

    .intro-section {
        position: relative;
        width: 100%;
        padding: 200px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
    }

    $section-side-padding : 100px;

    .section {
        position: relative;
        width: 100%;
        padding: 70px $section-side-padding 200px $section-side-padding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
    }

    .section-title {
        box-sizing: border-box;
        height: 66px;
        width: 100%;
        background-color: elements.$whiteish;
        padding: 0px $section-side-padding;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &.right-align {
            justify-content: flex-end;
        }
    }

    // INTRO

    // floating items
    .circle-knit {
        position: absolute;
        top: -110px;
        left: -70px;
    }

    .circle-living-room {
        position: absolute;
        top: 0px;
        right: -5px;
    }

    .circle-gomitolo {
        position: absolute;
        bottom: -50px;
        right: -160px;
    }

    .circle-basil {
        position: absolute;
        bottom: 150px;
        left: 20px;
    }

    // content
    .firma {
        width: 100%;
        max-width: 500px;
        height: 162px;
        position: relative;

        // TODO make this more responsive
        img {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        h2 {
            position: absolute;
            bottom: 10px;
            left: 230px;
        }
    }

    .intro-text {
        width: 30%;
        text-align: center;
        min-width: 300px;
        max-width: 500px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    // ABOUT ME

    .section.about-me {
        align-items: flex-start;
    }

    .about-me-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .vertical-buttons {
        flex: 1 0 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .main-button {
            width: 100%;
            max-width: 230px;
        }
    }

    .about-me-text {
        flex: 2 0;
        max-width: 400px;
    }

    .flower {
        position: absolute;
        pointer-events: none;
        top: -100px;
        left: 370px;
    }

    .me {
        flex: 2 0;
        max-width: 400px;
        max-height: 400px;
    }

    .mini-me {
        max-width: 270px;
        max-height: 270px;
        display: none;
    }

    // PAST PROJECTS

    .section.past-projects {
        align-items: flex-end;
    }

    .past-project-text {
        text-align: right;
        width: 50%;
        max-width: 530px;
    }

    .branch-4 {
        position: absolute;
        pointer-events: none;
        transform: scaleX(-1) rotate(-84deg);
        width: 300px;
        top: -196px;
        left: 45px;
    }

    .past-projects-container {
        margin: 0px -100px;
        width: calc(100% + 200px);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .past-projects-scroll {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        position: relative;
    }

    .past-projects-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;
    }

    .scroll-right, 
    .scroll-left {
        fill: elements.$red;
        border: 0px;
        background-color: transparent;
        width: 100px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            fill: elements.$yellow;
        }
    }

    .past-project {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        .project-description {
            text-align: justify;
        }
        gap: 15px;
        &:nth-child(even) {
            div[class^='circle-past-projects']{
                .circle-outline {
                    transform: scaleY(-1);
                }
                .circle-image {
                    top: 50px;
                }
            }
        }
    }




    .past-project-name {
        margin-top: -30px;
        color: elements.$red;
    }

    .past-project-link {
        @include components.past-project-button;
    }

    // WORK WITH ME
    
    .section.work-with-me {
        align-items: flex-start;
    }

    .work-with-me-text {
        text-align: left;
        width: 40%;
        max-width: 500px;
    }

    .work-with-me-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .work-proposal {
        flex-basis: 30%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .proposal-name {
        flex-grow: 0;
        color: elements.$green;
    }

    .proposal-image {
        flex-grow: 0;
        height: 150px;
    }

    .proposal-description {
        flex-grow: 1;
    }

    .proposal-button {
        @include components.proposal-button;
        flex-grow: 0;
        margin-top: 20px;
    }

    .circle-lemons {
        position: absolute;
        top: -300px;
        right: 100px;
    }


    // CREATIONS

    .section.creations {
        align-items: flex-end;
    }

    .creations-text {
        text-align: right;
        width: 50%;
        max-width: 600px;
        min-width: 300px;
    }

    .creations-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px -20px;
    }

    .creations-picture {
        width: 200px;
    }

    .circle-ceramica {
        position: absolute;
        pointer-events: none;
        top: -200px;
        left: 50px;
    }

    .ravelry-container {
        width: 100%;
        text-align: center;
    }
    
    // FOOTER

    .footer {
        background-color: elements.$whiteish;
        position: relative;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        .link {
            @include components.link;
            text-transform: lowercase;
        }
    }

    .contents-note {
        width: 50%;
        max-width: 500px;
        text-align: center;
        @include elements.smallText;
    }

    // floating items
    .footer-floating-elements {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 400px;
        bottom: 0px;
        overflow: hidden;
        pointer-events: none;
    }

    .branch-3 {
        width: 400px;
        position: absolute;
        pointer-events: none;
        transform: rotate(-90deg);
        bottom: -10px;
        right: -30px;
    }

    .branch-2 {
        width: 350px;
        position: absolute;
        pointer-events: none;
        transform: rotate(-130deg);
        bottom: -60px;
        left: 0px;
    }

}