@use "elements";
@forward "home-page";
@forward "home-page-mobile";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    background-color: white;
  }

h1 {
  @include elements.title;
  margin: 0px;
  position: relative;
  z-index: 2;
}

h2 {
  @include elements.subtitle;
}
  
body,
button,
input,
select,
textarea {
    outline: 0;
  }
  
body {
  @include elements.text;
  color: elements.$blackish;
  margin: 0px;
  overflow-x: hidden;
}
  
a {
text-decoration: none;
cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
  z-index: 2;
}

.language-switch-container {
  box-sizing: border-box;
  background-color: elements.$whiteish;
  filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 12%));
  display: flex;
  top: 0px;
  position: sticky;
  width: 100%;
  height: 66px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;

  .language-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  
  button {
    @include elements.text;
    background-color: transparent;
    border: 0px;
    &:hover {
      color: elements.$navy;
    }
    z-index: 3;
  }
}
