@use "elements";
@forward "home-page";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    background-color: white;
  }

h1 {
  @include elements.title;
  margin: 0px;
}

h2 {
  @include elements.subtitle;
}
  
body,
button,
input,
select,
textarea {
    outline: 0;
  }
  
body {
  @include elements.text;
  color: elements.$blackish;
  margin: 0px;
  overflow-x: hidden;
}
  
a {
text-decoration: none;
cursor: pointer;
}

button {
  cursor: pointer;
}

img {
height: auto;
max-width: 100%;
}

.language-switch {
  box-sizing: border-box;
  background-color: elements.$whiteish;
  width: 100%;
  height: 60px;
  padding: 20px 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    @include elements.text;
    background-color: transparent;
    border: 0px;
    &:hover {
      color: elements.$navy;
    }
  }
}




// input[type="checkbox"],
// input[type="radio"] {
// vertical-align: baseline;
// }

// table {
// border-collapse: collapse;
// border-spacing: 0;

//     td,
//     th {
//         vertical-align: top;
//         &:not([align]) {
//         text-align: inherit;
//         }
//     }
// }

// fieldset {
// border: fieldset;
// }